.vpContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 161, 161);
    margin-left:200px;
    margin-right:200px;
    padding-bottom:30px;
    padding-top: 100px;
    font-family:Arial, Helvetica, sans-serif;
}

.indexFlexOne{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:5%;
}

.indexList{
    margin-left: 0%;
    margin-right: 5%;
}
h3{
    text-align: center;
}

.quote{
    margin-top:5%;
    position: relative;
}
.quoteText{
    position:relative;
    top: -160px;
    z-index: 1;
}

.quoteBG{
    position: relative;
    z-index: 2;
}

.quoteText{
    z-index: 3;
}
body {
    background-color:crimson;
}

.webDevFlex{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom:5%;
}

.webDevText{
    align-self: center;
}

.musicFlex{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.musicText{
    align-self: center;
}

.mentalFlex{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0%;
}

.mentalText{
    align-self: center;
}

.finnickyTitles {
    margin-top: 50px;
}

.pageTitle {
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
    text-align: center;
}

h2{
    text-align: center;
}

.smBar{
    position:fixed;
    bottom: 0;
    margin-bottom: 10px;
}

header{
    display: flex;
    position: fixed;
    background-color: crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    top: 0;
    width: 100%;
}

.nav{
    text-align: right;
    margin-left:auto;
    font-size:x-large;
    margin-top: 25px;
    margin-right: 20px;
}

a{
    color:black;
    text-decoration:none;
}

a:hover{
    color:azure;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

@media screen and (max-width: 1500px) {

    .indexFlexOne{
       flex-direction: column;
       align-items: center;
    }

    .indexList{
        margin-left: 0%;
        margin-right: 0%;
    }
    .webDevFlex{
        flex-direction: column;
        align-items:center;
    }

    .musicFlex{
        flex-direction: column;
        align-items:center;
    }

    .mentalFlex{
        flex-direction: column;
        align-items:center;
    }
}
